.nav
{
flex-wrap : wrap;
ol {
margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color:#000080;
}
ol li {
float: left;
}
ol li a{
display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ol li a:hover {
  background-color: #111111;
}
}
